<div class="link-wrapper">
    <style scoped>
      ul.link a {
        color:var(--clr-h1-and-bold);
        text-decoration:none;
      }

      ul.link a:hover, a:focus {
        color: var(--clr-a-text-hvr);
      }
    </style>
    <ul class="link">
     
      <li><a href="https://github.com/seyealihosseinibahri"><i class="fa-brands fa-github"></i> GitHub</a></li>
      <li><a href="https://twitter.com/seyedali_h_b"><i class="fa-brands fa-twitter"></i> Twitter</a></li>
      <li><a href="https://instagram.com/seyedali_h_b"><i class="fa-brands fa-twitter"></i> Instagram</a></li>
      
    </ul>
  </div>